.card:hover {
    cursor: pointer;
}
.sidebar-menu {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.sidebar-menu > a {
    display:flex;
    flex-direction:column;
    color:black;
}
.sidebar-menu > a:hover {
    text-decoration: none;
}